* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 400px;
  height: auto;
  border: 1px solid silver;
  border-radius: 10px;
}
.campos {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
label {
  display: block;
}
input {
  border-radius: 5px;
  height: 3em;
  padding: 4px;
  border: 1px solid silver;
  width: 100%;
}
