* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: rgb(68, 68, 68);
}
h1 {
  color: orange;
  padding-bottom: 10px;
  font-size: 2.5em;
}
a {
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
  font-size: 1.2em;
  font-style: italic;
}
a:link,
a:visited {
  color: white;
}
a:hover {
  color: orange;
}
.a-leia-mais:link {
  padding: 0px;
  background-color: black;
  text-decoration: underline;
}
/* LAYOUT */
.cabecalho {
  background-color: #252525;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  padding: 10x;
}
.menu {
  padding: 10px;
}
.blog {
  color: rgb(168, 168, 168);
}
.area-principal {
  background: silver;
  width: 920px;
  margin: 0 auto;
  margin-top: 120px;
}
.conteudos {
  width: 660px;
  float: left;
  padding: 5px;
}
.postagem {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 12px;
  margin-bottom: 5px;
}
.data-postagem{
  padding: 5px;
  font-size: 0.8em;
}
.area-lateral {
  width: 240px;
  float: right;
}

.area-lateral,
.conteudos {
  background: rgb(226, 223, 223);
}
.rodape {
  clear: both;
  background: #252525;
  text-align: center;
  padding: 2px;
  color: white;
}
