* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: rgb(68, 68, 68);
}

h1 {
  color: orange;
  padding-bottom: 10px;
  font-size: 2.5em;
  text-align: center;
}

a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-style: italic;
  display: inline-block;
}
a:link,
a:visited {
  color: white;
}
a:hover {
  color: orange;
}
.a-leia-mais:link {
  padding: 0;
  background-color: black;
  text-decoration: underline;
}

/* LAYOUT */
.cabecalho {
  background-color: #252525;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  padding: 10px;
}

.menu {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.blog {
  color: rgb(168, 168, 168);
}

.area-principal {
  background: silver;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.conteudos {
  flex: 1 1 100%;
  background: rgb(226, 223, 223);
}

.area-lateral {
  flex: 1 1 100%;
  background: rgb(226, 223, 223);
}

.postagem {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 12px;
  margin-bottom: 10px;
}

.data-postagem {
  padding: 5px;
  font-size: 0.8em;
}

.rodape {
  clear: both;
  background: #252525;
  text-align: center;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

/* RESPONSIVO */
@media (min-width: 768px) {
  .conteudos {
    flex: 0 0 68%;
  }

  .area-lateral {
    flex: 0 0 30%;
  }

  .menu {
    justify-content: center;
  }
}
